.stories {
    display: flex;
    gap: 5rem;
}

.story-item img {
    width: 5rem;
    border-radius: 1rem;
    transition: 300ms ease;
    cursor: pointer;
}


.story-item {
    position: relative;
    transition: 300ms;
}

.story-item:hover {
    transform: scale(1.2);
}

.story-item:hover .cover {
    opacity: 0;
}

.story-item p {
    position: absolute;
    top: 6rem;
    left: .4rem;
    color: white;
    cursor: pointer;
}

.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(transparent, black);
    transition: .2s;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .stories {
        gap: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .stories {
        justify-content: center;
    }

    .story-item img {
        width: 4rem;
    }

    .story-item p {
        top: 5rem;
    }
}