.modal-header {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.modal-header h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal-icon {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

.edit-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-form {
    background-color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: 1rem 2rem 4rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 10px;
}

.edit-input {
    width: 100%;
}