.profile {
    text-align: center;
    background-color: white;
    position: relative;
    height: 50vh;
}

.profile-flex {
    display: flex;
    gap: 2em;
    align-items: center;
}

.profile-input {
    flex: 2;
}

.pfp-input {
    border: none;
}

.user-img-container {
    text-align: center;
    height: 200px;
    width: 200px;
    flex: 1;
} 

.user-img-container img {
    border-radius: 1rem;
}

.profile button {
    position: absolute;
    left: 10%;
}

/* Responsive design for mobile */
@media only screen and (max-width: 600px) {
    
}