.profile {
    text-align: center;
    margin: 3rem auto;
    background-color: white;
    width: 50%;
    padding: 5rem;
    border-radius: 1rem;
    position: relative;
}

.pfp-input {
    border: none;
}

.user-img-container {
    text-align: center;
    height: 200px;
    width: 200px;
} 

.user-img-container img {
    border-radius: 1rem;
}