body {
    background-color: #F4F4F4;
}

.home {
    display: flex;
    gap: 2rem;
}
.dashboard {
    width: 20%;
    height: 100vh;
    background-color: white;
    position: sticky;
    top: 0;
}

.dashboard h1 {
    color: var(--primary-blue);
    padding-top: 2rem;
    text-align: center;
}

.dashboard-active {
    color: var(--primary-blue)
}

.dashboard li {
    text-align: right;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.dashboard li::after {
    content: '';
    position: absolute;
    width: .4rem;
    height: 0%;
    background: var(--theme-gradient-down);
    right: 0;
    top: 0;
    transition: 200ms ease-in-out;
}

.dashboard li:hover::after {
    height: 100%;
}

.notif::before {
    content: '3';
    position: absolute;
    border-radius: 100%;
    background-color: var(--primary-green);
    color: white;
    left: 4rem;
    height: 20px;
    width: 20px;
    font-size: 1rem;
    text-align: center;
}

.msg::before {
    content: '1';
    position: absolute;
    border-radius: 100%;
    background-color: var(--primary-green);
    color: white;
    left: 4rem;
    height: 20px;
    width: 20px;
    font-size: 1rem;
    text-align: center;
}

.dashboard-options {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dashboard-icon {
    font-size: 2rem;
}

.profile-link {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    height: 100px;
    width: 80%;
    margin: -3rem auto;
    gap: 1rem;
    border-radius: 20px 20px 20px 0px;
    cursor: pointer;
}
.circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: var(--theme-gradient-down);
}
.profile-link img {
    width: 50px;
}

.profile-link h2 {
    margin-top: -8px;
    color: white;
}

/* Post Input */
.main {
    flex: 1;
    margin-top: 3rem;
}

.post-form {
    position: relative;
}

.post-form button {
    position: absolute;
    top: 4.2rem;
    right: 9.2rem;
}

.post-input {
    width: 80%;
    margin-top: 5rem;
    height: 3rem;
    border: none;
}

/* Trending */
.trending {
    height: 100vh;
    background-color: white;
    position: sticky;
    top: 0;
    overflow-y: scroll;
}

.trending h1 {
    text-align: center;
    background: var(--theme-gradient-right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 2rem;
}

.trending ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.trending ul li {
    padding: 2rem 1rem;
    color: var(--primary-blue);
    cursor: pointer;
    font-size: 1.1rem;
}

.trending ul li:hover {
    background-color: #F4F4F4;
}